*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #F907FC, #05D6D9);
    box-sizing: border-box;
}

.mobileResponsive .sideBar{
    padding: 1em;
    background: #05D6D9;
    width: 60%;
    position: fixed;
    height: 100vh;
    top: 0;
}

.closetoggle{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    top: 30;
    right: 20px;
    color: black;
}

.mobileResponsive .sideBar .sideBarImg{
    width: 8em;
    height: 8em;
    background: url(./img/janet.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.mobileResponsive .sideBar .nav{
    margin-top: 50px;
    margin-left: 10px;
}

.mobileResponsive .sideBar .nav a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.mobileResponsive .sideBar .nav a li{
    padding: 20px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
}

.mobileResponsive .sideBar .nav a li:hover{
    background: rgba(218, 216, 216, 0.664);
}

.mobileResponsive .container{
    background: white;
    margin: 0.5em;
    padding: 1em;
    height: 105vh;
}

.container .top{
    display: flex;
    justify-content: space-between;
}

.container .top .logo{
    font-size: 20px;
    font-weight: bold;
    font-family: "Inconsolata", sans-serif;
    margin-top: 5px;
}

.container .toggle .toggleImg{
    width: 2em;
    height: 2em;
    background: url(./img/bar.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.middle .tabContent{
    display: none;
}

.middle #home{
    text-align: center;
    margin-top: 20%;
    font-family: "consolas", sans-serif;
}

.middle #home p{
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    line-height: 25px;
    text-align: left;
    margin-left: 10px;
    letter-spacing: 1px;
}

.middle #home button{
    padding: 10px 50px;
    margin-top: 40px;
    border-radius: 30px;
    border: none;
    background: #917BEA;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.middle #about{
    text-align: center;
    margin-top: 20%;
    font-family: "consolas", sans-serif;
}

.middle #about p{
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    line-height: 25px;
    text-align: left;
    margin-left: 10px;
    letter-spacing: 1px;
}

.middle #about button{
    padding: 10px 50px;
    margin-top: 40px;
    border-radius: 30px;
    border: none;
    background: #917BEA;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.middle #photo{
    text-align: center;
    margin-top: 10%;
    font-family: "consolas", sans-serif;
}

.imgContainer{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
}

.imgContainer .img{
    width: 40vw;
    height: 30vw;
    background: red;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.img:hover{
    background: gold;
    opacity: 1;
}

.middle #photo button{
    padding: 10px 50px;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    background: rgb(253, 178, 191);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.middle #contact{
    text-align: center;
    margin-top: 10%;
    font-family: "consolas", sans-serif;
}

.social{
    margin-top: 50px;
}

#contact a{
    display: block;
    text-decoration: none;
    background: gray;
    margin: 10px;
    padding: 45px;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 10px;
}


@media(min-width: 700px){
    .mobileResponsive{
        display: none;
    }

    body{
       
        box-sizing: border-box;
    }

    .wideScreen{
        background: linear-gradient(to right, #F907FC, #05D6D9);
        width: 100%;
        height: 100vh;
    }

    .wideScreen .container{
        width: 96%;
        height: 100vh;
        background: white;
        margin-left: auto;
        margin-right: auto;
    }

    .wideScreen .container .leftside{
        background: rgba(206, 203, 203, 0.658);
        width: 30%;
        height: 100vh;
        padding: 1em;

    }
}